
<div class="app-container" role="main">
<figure>
<img class="circle" src="https://mir-s3-cdn-cf.behance.net/projects/404/74b60583865253.Y3JvcCwxMTQ1LDg5NiwzNjgsNDU2.jpg" alt="">
</figure>
    <h1>{{ title }}</h1>

  <p class="desc">{{bio}}</p>

</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
